{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-default">
    <a href="{{ path('homepage') }}" class="btn navbar-btn">Back to Overview</a>

    <div class="btn-group pull-right">
        {% if wiki_title is defined %}
        <div class="btn-group">
            <button id="btn-export" type="button" class="btn btn-default navbar-btn" data-nsname="stubs">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                Export to <span class="ns-name">Stubs</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"><!-- --></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" data-nsname="stubs">Beginnetjes</a></li>
                <li><a href="#" data-nsname="main">Main</a></li>
            </ul>
        </div>
        {% endif %}
        <button id="btn-convert" type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
            Update preview
        </button>
        <button id="btn-debug" type="button" class="btn btn-default navbar-btn" data-toggle="button" aria-pressed="false">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            Debug
        </button>
    </div>
</nav>

<div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-wiki">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-wiki" aria-expanded="true" aria-controls="collapse-wiki">
                    Wiki Text
                </a>
            </h4>
        </div>
        <div id="collapse-wiki" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-wiki">
            <div class="panel-body">
            {% if wiki_title is defined %}
                <input id="wiki-title" name="wiki-title" type="text" class="form-control" placeholder="Title" value="{{ wiki_title|default('') }}">
            {% endif %}
                <textarea id="wiki-text" name="wiki-text">{{ wiki_text }}</textarea>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-html">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-html" aria-expanded="false" aria-controls="collapse-html">
                    HTML Preview
                </a>
            </h4>
        </div>
        <div id="collapse-html" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-html">
            <div id="html-text" class="panel-body">
                {{ html_preview|raw }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
#wiki-title {
    width: 98%;
    margin: 0 0 10px 0;
}
#wiki-text {
    font-family: "Courier New", monospace;
    width: 100%;
    height: 500px;
    border: none;
}
.navbar > .btn-group {
    margin: 0 5px;
}
</style>
{% endblock %}

{% block javascripts %}
<script>
(function () {
    var wrapper = $('#wrapper'),
        titWiki = $('#wiki-title'),
        txtWiki = $('#wiki-text'),
        txtHtml = $('#html-text'),
        colHtml = $('#collapse-html'),
        btnConvert  = $('#btn-convert'),
        btnExport   = $('#btn-export'),
        btnExportNs = $('span.ns-name', btnExport),
        btnNsSelect = $('ul li a', btnExport.parent()),
        btnDebug    = $('#btn-debug');


    var success = function (msg, target) {
        var target = (undefined === target) ? window : target,
                html   = `
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <strong>Success!</strong> ${msg}
            </div>`;

        $(target).prepend(html);
    };

    var warn = function (msg, target) {
        var target = (undefined === target) ? window : target,
                html   = `
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <strong>Warning!</strong> ${msg}
            </div>`;

        $(target).prepend(html);
    };

    var onBtnConvertClick = function () {
        $.ajax('{{ path('wiki_convert') }}', {
            method : 'POST',
            success: onConvertSuccess,
            data   : {
                wikitext: txtWiki.val()
            }
        });
    };

    var onConvertSuccess = function (html) {
        txtHtml.html(html);
        colHtml.collapse('show');
    };

    var onExportSuccess = function (res) {
        var fn = (0 < res.success && 0 == res.failed) ? success : warn;

        fn(res.messages.join('<br>'), wrapper);
    };

    var onBtnExportClick = function (evt) {
        if (!window.confirm('Are you sure you want to export this items?')) {
            return;
        }

        $.ajax('{{ path('wiki_edit') }}', {
            method : 'POST',
            success: onExportSuccess,
            data   : {
                wikititle: titWiki.val(),
                wikitext : txtWiki.val(),
                ns       : $(evt.target).data('nsname')
            }
        });
    };

    var onBtnNsSelectClick = function (evt) {
        var ns = $(evt.target).data('nsname');

        btnExport.data('nsname', ns);
        btnExportNs.html(ns.substr(0, 1).toUpperCase() + ns.substr(1))
    };

    var createDebugHandler = function () {
        var debugEnabled = false,
                noop         = function () {},
                xdebug       = function (xhr, o) {
                    var separator = (-1 == '?'.indexOf(o.url)) ? '?' : '&';
                    o.url = o.url + separator + 'XDEBUG_SESSION_START';
                };

        return function (evt) {
            evt.preventDefault();

            $.ajaxSettings.beforeSend = (debugEnabled) ? noop : xdebug;
            debugEnabled = !debugEnabled;
        };
    };

    btnConvert.on('click', onBtnConvertClick);
    btnExport.on('click', onBtnExportClick);
    btnNsSelect.on('click', onBtnNsSelectClick);
    btnDebug.on('click', createDebugHandler());
}());
</script>
{% endblock %}
